body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, main, footer {
    padding: 20px;
}

header {
    background-color: #1e2d68;;
    color: #fff;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

 /* Stili CSS qui */
 .image-container img {
    max-width: 200px;
    max-height: 200px;
}

.image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px; /* Add this line to make the border rounded */
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Add this line to make the image border rounded */
}

.rounded-title {
    background-color: #28496d; /* Blue background */
    color: white; /* White text color */
    padding: 3px; /* Padding for spacing */
    border-radius: 10px; /* Rounded corners */
    display: inline-block; /* Fit content width */
}

.placeholder {
    background-color: #ccc;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    display: block; /* Aggiunto per centrare l'immagine, se necessario */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Impedisce a parti dell'immagine di fuoriuscire se più grandi del contenitore */
}

.button-container {
    text-align: center;
    margin-top: 20px;
}


.uploaded-image, .random-image {
    margin: 0 20px;
    text-align: center;
}

footer {
    background-color: #1e2d68;;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
