<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Compare Images</title>
</head>
<body>
    <header>
        <h1>Compare Images</h1>
    </header>
    <main>
        <div>
            <label for="model-type">Select Model Type:</label>
            <select id="model-type">
                <option value="normal">Normal Model</option>
                <option value="modified">Modified Model</option>
            </select>
        </div>
        <div class="image-container">
            <h2>Image 1</h2>
            <input type="file" id="image1" accept="image/*" onchange="previewImage('image1', 'preview1')">
            <img id="preview1" src="#" class="placeholder">
        </div>
        <div>
            <label for="signs">Select Traffic Sign:</label>
            <select id="signs" name="signs">
                {% for sign in list_signs %}
                <option value="{{ loop.index0 }}">{{ sign }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="image-container">
            <h2>Image with intrusion</h2>
            <img id="preview2" src="" class="placeholder">
        </div>
        
        <div class="button-for-intrusion">
            <button onclick="ApplyIntrusion()">Apply Intrusion</button>
        </div>
        <div class="button-container">
            <button onclick="predictResult()">Predict Result</button>
        </div>
        <div id="prediction-result"></div>
    </main>
    <footer>
        <p>Created with HTML and CSS</p>
    </footer>
    <script>
        function previewImage(inputId, previewId) {
            var preview = document.getElementById(previewId);
            var file = document.getElementById(inputId).files[0];
            var reader = new FileReader();

            reader.onloadend = function() {
                preview.src = reader.result;
                preview.classList.remove('placeholder'); // Rimuove la classe placeholder quando l'immagine viene caricata
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "placeholder_gray.png"; // Se non viene selezionata alcuna immagine, visualizza il placeholder
                preview.classList.add('placeholder'); // Aggiunge la classe placeholder
            }
        }

        function ApplyIntrusion() {
            var modelType = document.getElementById("model-type").value;
            var label = document.getElementById("signs").value;
            var formData = new FormData();
            var signIndex = document.getElementById("signs").value;
            formData.append("signIndex", signIndex);
            formData.append("modelType", modelType);
            formData.append("label", label);
            formData.append("image1", document.getElementById("image1").files[0]);

            fetch('/applyIntrusion', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                // Se la risposta è OK, aggiorna l'immagine nell'HTML
                if (response.ok) {
                    // Leggi il percorso dell'immagine dalla risposta JSON
                    return response.json();
                } else {
                    console.error('Response not OK');
                }
            })
            .then(data => {
                // Visualizza l'immagine nell'HTML
                // Visualizza l'immagine nell'HTML
                document.getElementById("preview2").src = data.image_url;
                // Aggiorna il risultato della previsione nell'HTML
                document.getElementById('prediction-result').innerText = data.prediction;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function predictResult() {
            var modelType = document.getElementById("model-type").value;
            var formData = new FormData();
            formData.append("modelType", modelType);
            formData.append("image1", document.getElementById("image1").files[0]);

            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById('prediction-result').innerText = data;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>