<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        footer {
            text-align: center;
            padding: 20px;
            background-color: #1e2d68;
        }
        .social-icons {
            margin: 20px 0;
        }
        .social-icons a {
            margin: 0 10px;
            text-decoration: none;
            color: white;
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            text-align: center;
            transition: background-color 0.3s;
        }
        .social-icons a.facebook { background-color: #3b5998; }
        .social-icons a.twitter { background-color: #1da1f2; }
        .social-icons a.linkedin { background-color: #0077b5; }
        .social-icons a.github { background-color: #333; }
        .social-icons a:hover { opacity: 0.8; }
    </style>

    <title>Compare Images</title>
</head>
<body>
    <header>
        <h1>Image Perturbation</h1>
    </header>

    <main>
        <div class="container">
            <!-- Prima riga per i tre input -->
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="attack-type" class="form-label">Select Attack Type:</label>
                    <select id="attack-type" class="form-control">
                        <option value="FGSM">FGSM</option>
                        
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="signs" class="form-label" >Select Traffic Sign:</label>
                    <select id="signs" name="signs" class="form-control">
                        {% for sign in list_signs %}
                        <option value="{{ loop.index0 }}">{{ sign }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="perturbation-level" class="form-label">Select perturbation level:</label>
                    <input type="range" class="form-range" id="range" min="0" max="1" step="0.01" value="0.04">
                    <span id="range-value">0.04</span>
                </div>                
            </div>
    
            <div class="row">
                <div class="">
                    <h2 class="rounded-title">Original Image:</h2>                
                    <div class="image-container placeholder" style="width: 200px; height: 200px; overflow: hidden;">
                        <img id="preview1" src="#" alt="Image preview" style="width: 100%; height: 100%; object-fit: cover;" class="img-fluid">
                    </div>
                    <input type="file" id="image1" class="form-control-sm " accept="image/*" onchange="previewImage('image1', 'preview1')">
                    <div id="prediction-result-base" class="m-2"></div>
                </div>


                <div class="text-center align-self-center">
                    <button class="btn btn-primary btn-lg" onclick="ApplyIntrusion()">Apply Intrusion</button>
                    <div class="d-flex justify-content-center mt-3">
                        <div class="spinner-border text-primary" id="loadingSpinner" style="display: none;" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                </div>
                

                <div class="pl-5">
                    <h2 class="rounded-title">Image with Intrusion:</h2>
                    
                    <div class="image-container placeholder" style="width: 200px; height: 200px; overflow: hidden;">
                        <img id="preview2" src="" alt="Intrusion image preview" style="width: 100%; height: 100%; object-fit: cover;" class="img-fluid">
                    </div>
                    <div id="prediction-result" class="m-2">
                    </div>

                    <div id="prediction-result-intrusion" class="m-2"></div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 text-center">
                <button class="btn btn-primary btn-lg" onclick="predictResult()">Predict Result</button>
            </div>

            <div class="col-md-6 text-center">
                <button class="btn btn-primary btn-lg" onclick="Predict_With_Intrusion()">Predict with defence model</button>
            </div>
        </div>
    </main>
    
    <footer>
        <p>Software Engineering for Artificial Intelligence</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com" target="_blank" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.github.com" target="_blank" class="github"><i class="fab fa-github"></i></a>
        </div>
    </footer>
    <script>
        document.getElementById("range").oninput = function() {
        document.getElementById("range-value").innerHTML = this.value;
        }

        function previewImage(inputId, previewId) {
            var preview = document.getElementById(previewId);
            var file = document.getElementById(inputId).files[0];
            var reader = new FileReader();

            reader.onloadend = function() {
                preview.src = reader.result;
                preview.classList.remove('placeholder'); // Rimuove la classe placeholder quando l'immagine viene caricata
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "placeholder_gray.png"; // Se non viene selezionata alcuna immagine, visualizza il placeholder
                preview.classList.add('placeholder'); // Aggiunge la classe placeholder
            }
        }

        function ApplyIntrusion() {
            document.getElementById('loadingSpinner').style.display = 'block'

            var label = document.getElementById("signs").value;
            var formData = new FormData();
            var signIndex = document.getElementById("signs").value;
            var perturbation =  document.getElementById("range").value;
            
            formData.append("signIndex", signIndex);

            formData.append("label", label);
            formData.append("image1", document.getElementById("image1").files[0]);
            formData.append("add_pertubation", perturbation)

            fetch('/applyIntrusion', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                // Se la risposta è OK, aggiorna l'immagine nell'HTML
                if (response.ok) {
                    // Leggi il percorso dell'immagine dalla risposta JSON
                    return response.json();
                } else {
                    console.error('Response not OK');
                }
            })
            .then(data => {
                
                // Aggiungi un timestamp all'URL per evitare la cache del browser
                var newImageUrl = data.image_url + "?t=" + new Date().getTime();
                
                // Visualizza l'immagine nell'HTML
                document.getElementById("preview2").src = newImageUrl;
                // Aggiorna il risultato della previsione nell'HTML
                document.getElementById('prediction-result').innerText = data.prediction;


                document.getElementById('loadingSpinner').style.display = 'none'
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('loadingSpinner').style.display = 'none'
            });
        }

        function Predict_With_Intrusion() {

        var formData = new FormData();

        console.log("ciao")
        fetch('/predictWhitIntrusion', {
            method: 'POST',
            body: formData
        })
        .then(response => response.text())
        .then(data => {
            document.getElementById('prediction-result-intrusion').innerText = data;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

        function predictResult() {
            var formData = new FormData();

            formData.append("image1", document.getElementById("image1").files[0]);

            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById('prediction-result-base').innerText = data;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>